<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap3.3.7/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/swiper3.4.2/swiper.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{> header }}
    {{{body}}}
    {{> footer}}
    <script src="/javascripts/jquery-3.2.1.min.js"></script>  
    <script src="/javascripts/popper1.11.0/popper.min.js"></script>  
    <script src="/stylesheets/bootstrap3.3.7/js/bootstrap.min.js"></script>
    <script src="/stylesheets/swiper3.4.2/swiper.jquery.js"></script>  
<script type="text/javascript">
  <!--
  $('#slideshow0').swiper({
    mode: 'horizontal',
    slidesPerView: 1,
    pagination: '.slideshow0',
    paginationClickable: true,
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 30,
    autoplay: 2500,
    autoplayDisableOnInteraction: true,
    loop: true
  });
  -->
</script>        
  </body>
</html>
