<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="well">
        <h2>Returning Customer</h2>
        <p><strong>I am a returning customer</strong></p>
        <form action="/user/login" method="post">
          <div class="form-group">
            <label class="control-label" for="input-email">User Name</label>
            <input type="text" name="username" placeholder="User name" id="input-username" class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label" for="input-password">Password</label>
            <input type="password" name="password" placeholder="Password" id="input-password" class="form-control">
            <a href="#">Forgotten Password</a>
          </div>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <input type="submit" value="Login" class="btn btn-primary">
        </form>
        {{ csrfToken }}
      </div>
    </div>
  </div>
</div>