<div id="product-product" class="container">
  <ul class="breadcrumb">
    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
    <li>MacBook</li>
  </ul>
  <div class="row">
    <div id="content" class="col-sm-12">
      <div class="row"> 
        <div class="col-sm-8"> 
          <ul class="thumbnails">
            <li>
              <a class="thumbnail" href="#" title="MacBook">
                <img src="/data/images/macbook_1-228x228.jpg" title="MacBook" alt="MacBook">
              </a>
            </li>
            <li class="image-additional">
              <a class="thumbnail" href="#" title="MacBook"> 
                <img src="/data/images/macbook_5-74x74.jpg" title="MacBook" alt="MacBook">
              </a>
            </li>
            <li class="image-additional">
              <a class="thumbnail" href="#" title="MacBook"> 
                <img src="/data/images/macbook_4-74x74.jpg" title="MacBook" alt="MacBook">
              </a>
            </li>
          </ul>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>
            <li><a href="#tab-specification" data-toggle="tab">Specification</a></li>
            <li><a href="#tab-review" data-toggle="tab">Reviews (0)</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-description">
              <div>
                <p><b>Intel Core 2 Duo processor</b></p>
                <p>Powered by an Intel Core 2 Duo processor at speeds up to 2.16GHz, the new MacBook is the fastest ever.</p>
                <p><b>1GB memory, larger hard drives</b></p>
                <p>The new MacBook now comes with 1GB of memory standard and larger hard drives for the entire line perfect for running more of your favorite applications and storing growing media collections.</p>
                <p><b>Sleek, 1.08-inch-thin design</b></p>
                <p>MacBook makes it easy to hit the road thanks to its tough polycarbonate case, built-in wireless technologies, and innovative MagSafe Power Adapter that releases automatically if someone accidentally trips on the cord.</p>
                <p><b>Built-in iSight camera</b></p>
                <p>Right out of the box, you can have a video chat with friends or family,2 record a video at your desk, or take fun pictures with Photo Booth</p>
              </div>
            </div>
            <div class="tab-pane" id="tab-specification">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <td colspan="2"><strong>Memory</strong></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>test 1</td>
                    <td>8gb</td>
                  </tr>
                </tbody>
                <thead>
                  <tr>
                    <td colspan="2"><strong>Processor</strong></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>No. of Cores</td>
                    <td>1</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane" id="tab-review">
              <form class="form-horizontal" id="form-review">
                <div id="review">
                  <p>There are no reviews for this product.</p>
                </div>
                <h2>Write a review</h2>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-name">Your Name</label>
                    <input type="text" name="name" value="" id="input-name" class="form-control">
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-review">Your Review</label>
                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                    <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label">Rating</label>
                    &nbsp;&nbsp;&nbsp; Bad&nbsp;
                    <input type="radio" name="rating" value="1">
                    &nbsp;
                    <input type="radio" name="rating" value="2">
                    &nbsp;
                    <input type="radio" name="rating" value="3">
                    &nbsp;
                    <input type="radio" name="rating" value="4">
                    &nbsp;
                    <input type="radio" name="rating" value="5">
                    &nbsp;Good
                  </div>
                </div>
                <div class="buttons clearfix">
                  <div class="pull-right">
                    <button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Continue</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="btn-group">
            <button type="button" data-toggle="tooltip" class="btn btn-default" title="" onclick="wishlist.add('43');" data-original-title="Add to Wish List">
              <span class="glyphicon glyphicon-heart"></span>
            </button>
            <button type="button" data-toggle="tooltip" class="btn btn-default" title="" onclick="compare.add('43');" data-original-title="Compare this Product">
              <span class="glyphicon glyphicon-transfer"></span>
            </button>
          </div>
          <h1>MacBook</h1>
          <ul class="list-unstyled">
            <li>Brand: <a href="#">Apple</a></li>
            <li>Product Code: Product 16</li>
            <li>Reward Points: 600</li>
            <li>Availability: In Stock</li>
          </ul>
          <ul class="list-unstyled">
            <li><h2>$602.00</h2></li>
            <li>Ex Tax: $500.00</li>
          </ul>
          <div id="product"> 
            <div class="form-group">
              <label class="control-label" for="input-quantity">Qty</label>
              <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control">
              <input type="hidden" name="product_id" value="43">
              <br>
              <button type="button" id="button-cart" data-loading-text="Loading..." class="btn btn-primary btn-lg btn-block">Add to Cart</button>
            </div>
          </div>
          <div class="rating">
            <p> 
              <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">0 reviews</a> / <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Write a review</a>
            </p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>